doctype html
html
	head
		title 投票倒數
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
		script(type="text/javascript", src="../lib/d3.min.js")
		script(type="text/javascript", src="../lib/prelude-browser-min.js")

	style.
		.donut {
			height: 300px;
			width: 300px;
			float: left;
		}


	body
		div(style="text-align:left")
			我是投票倒數：


		div#donut0.donut
		div#donut1.donut
		div#donut2.donut
		div#donut3.donut


		script(type="text/javascript", src="./js/donut.js")
		script(type="text/javascript", src="./js/countdown.js")